#root {
  text-align: center;
}

.custom-container {
  background-color: white;
  margin: 5rem;
}

.custom-thead {
  background-color: black;
  color: white;
  border-bottom: 2px solid red;
}

.custom-th {
  /* Hacer esta columna más ancha */
  width: 30%;
}

.custom-td {
  /* Ajusta el ancho si es necesario para que coincida con el encabezado */
  width: 30%;
}

.table-mod {
  width: 100%;
}

